
/* by Rachel for purchase A/B Testing */
.mContainer .purchaseTop {
    padding-top: 40px;
    font-family: AppleSDGothicNeo;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: center;
    color: #56626c;
}

.mContainer .purchaseUnderline {
    margin:0 auto;
    width: 47px;
    height: 1px;
    background-color: #56626c;
}

.mContainer .purchaseMid {
    margin-top: 25px;
    height: 28px;
    font-family: AppleSDGothicNeo;
    font-size: 21px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: -0.2px;
    text-align: center;
    color: #a3aeb8;
}

.mContainer .purchaseBottom {
    margin-top: 2px;
    font-family: AppleSDGothicNeo;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3d4953;
}