.dimmed {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:rgba(0,0,0,0.1);
    z-index:100;
}
.dimmed .completePay {
    position:absolute;
    top:30%;
    left:30%;
    right:30%;
    bottom:30%;
    background:#fff;
    border: solid 1px #dbdbdb;
    border-radius: 4px;
}
.dimmed .completePay .close {
    width:30px;
    height:30px;
    display:block;
    background:url(../img/btn-close-default@2x.png) no-repeat;
    background-size:100% 100%;
}
.dimmed .completePay .cardImg {
    display:block;
    margin:28px auto 24px auto;
    width:81px;
    background:url(../img/ic-card@2x.png) no-repeat;
    background-size: 100% 100%;
}
.dimmed .completePay .cardImg::after {
    content:'';
    display:block;
    padding-top:55px;
}
.dimmed .completePay .top {
    width:100%;
    text-align:center;
    font-family: AppleSDGothicNeo-Regular,sans-serif;
    font-size: 22px;
    line-height: 1.3;
    letter-spacing: -0.6px;
    color: #3d4953;
}
.dimmed .completePay strong {
    display:block;
    width:340px;
    height:1px;
    background:#e5e5e5;
    margin:19px auto 17px auto;
}
.dimmed .completePay .bottom {
    font-family: AppleSDGothicNeo-Regular,sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #949fa7;
    text-align:center;
}

.dimmed .completePay .bottom span {
    color:#767bfe;
}


@media (max-width: 991px) {

    .dimmed .completePay {
        position:absolute;
        top:30%;
        left:13%;
        right:13%;
        bottom:27%;
        background:#fff;
        border: solid 1px #dbdbdb;
        border-radius: 4px;
    }
    .dimmed .completePay .close {
        width:30px;
        height:30px;
        display:block;
        background:url(../img/btn-close-default@2x.png) no-repeat;
        background-size:100% 100%;
    }
    .dimmed .completePay .cardImg {
        display:block;
        margin:28px auto 24px auto;
        width:81px;
        background:url(../img/ic-card@2x.png) no-repeat;
        background-size: 100% 100%;
    }
    .dimmed .completePay .cardImg::after {
        content:'';
        display:block;
        padding-top:55px;
    }
    .dimmed .completePay .top {
        width:100%;
        text-align:center;
        font-family: AppleSDGothicNeo-Regular,sans-serif;
        font-size: 22px;
        line-height: 1.3;
        letter-spacing: -0.6px;
        color: #3d4953;
    }
    .dimmed .completePay strong {
        display:block;
        width:340px;
        height:1px;
        background:#e5e5e5;
        margin:19px auto 17px auto;
    }
    .dimmed .completePay .bottom {
        font-family: AppleSDGothicNeo-Regular,sans-serif;
        font-size: 12px;
        line-height: 1.5;
        color: #949fa7;
        text-align:center;
    }

    .dimmed .completePay .bottom span {
        color:#767bfe;
    }

}