/* style for typeCheckModal START */

.typeCheckModal .modal-content {
    width:402px;
    margin:0 auto;
}

.typeCheckModal .modal-content .modal-logo {
    width: 58px;
    height: auto;
    margin-left: 172px;
    margin-top: 40px;
}

.typeCheckModal .modal-title {
    text-align:center;
    font-family: AppleSDGothicNeo-Regular, sans-serif;
    font-size: 22px;
    line-height: 1.3;
    letter-spacing: -0.6px;
    color: #3d4953;
    margin : 18px 0 17px 0;
}

.typeCheckModal .modal-body .prev {
    font-family: AppleSDGothicNeo-Regular, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #949fa7;
    float:left;
    margin-left: 20px;
}

.typeCheckModal .modal-body .next {
    font-family: AppleSDGothicNeo-Regular, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #767bfe;
    float:right;
    margin-right: 20px;
}

.typeCheckModal .modal-body .underline {
    height: 1px;
    background-color: #e5e5e5;
    width :91%;
    margin:24px 15px;
}

.typeCheckModal .modal-body .input {
    height: 40px;
}

/* style for typeCheckModal END */

/* style for mTypeCheckModal START */

.mTypeCheckModal .modal-content {
    width:330px;
    margin:0 auto;
}

.mTypeCheckModal .modal-content .modal-logo {
    width: 48px;
    height: auto;
    margin-left: 141px;
    margin-top: 40px;
}

.mTypeCheckModal .modal-title {
    text-align:center;
    font-family: AppleSDGothicNeo-Regular, sans-serif;
    font-size: 22px;
    line-height: 1.3;
    letter-spacing: -0.6px;
    color: #3d4953;
    margin : 18px 0 17px 0;
}

.mTypeCheckModal .modal-body .prev {
    font-family: AppleSDGothicNeo-Regular, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #949fa7;
    float:left;
    margin-left: 20px;
}

.mTypeCheckModal .modal-body .next {
    font-family: AppleSDGothicNeo-Regular, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #767bfe;
    float:right;
    margin-right: 20px;
}

.mTypeCheckModal .modal-body .underline {
    height: 1px;
    background-color: #e5e5e5;
    width :91%;
    margin:24px 15px;
}

.mTypeCheckModal .modal-body .input {
    height: 40px;
}

/* style for mTypeCheckModal END */