/* style for planCheckModal START */

.planCheckModal .modal-content {
    width:402px;
    margin:0 auto;
}

.planCheckModal .modal-content .modal-logo {
    width: 81px;
    height: auto;
    margin-left: 161px;
    margin-top: 40px;
}

.planCheckModal .modal-title {
    text-align:center;
    font-family: AppleSDGothicNeo-Regular, sans-serif;
    font-size: 22px;
    line-height: 1.3;
    letter-spacing: -0.6px;
    color: #3d4953;
    margin : 18px 0 20px 0;
}

.planCheckModal .modal-body .info {
    font-family: AppleSDGothicNeo-Regular, sans-serif;
    text-align:center;
    font-size: 15px;
    line-height: 1.5;
    color: #3d4953;
    margin-left: 0;
}

.planCheckModal .modal-body .prev {
    font-family: AppleSDGothicNeo-Regular, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #949fa7;
    float:left;
    margin-left: 20px;
    text-align: center;
}

.planCheckModal .modal-body .next {
    font-family: AppleSDGothicNeo-Regular, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #767bfe;
    float:right;
    margin-right: 20px;
}

.planCheckModal .modal-body .underline {
    height: 1px;
    background-color: #e5e5e5;
    width :91%;
    margin:24px 15px;
}

.planCheckModal .modal-body .input {
    height: 40px;
}

/* style for typeCheckModal END */

/* style for mPlanCheckModal START */

.mPlanCheckModal .modal-content {
    width:330px;
    margin:0 auto;
}

.mPlanCheckModal .modal-content .modal-logo {
    width: 81px;
    height: auto;
    margin-left: 125px;
    margin-top: 40px;
}

.mPlanCheckModal .modal-title {
    text-align:center;
    font-family: AppleSDGothicNeo-Regular, sans-serif;
    font-size: 22px;
    line-height: 1.3;
    letter-spacing: -0.6px;
    color: #3d4953;
    margin : 18px 0 20px 0;
}

.mPlanCheckModal .modal-body .info {
    font-family: AppleSDGothicNeo-Regular, sans-serif;
    text-align:center;
    font-size: 15px;
    line-height: 1.5;
    color: #3d4953;
    margin-left: 0;
}

.mPlanCheckModal .modal-body .prev {
    font-family: AppleSDGothicNeo-Regular, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #949fa7;
    float:left;
    margin-left: 20px;
}

.mPlanCheckModal .modal-body .next {
    font-family: AppleSDGothicNeo-Regular, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #767bfe;
    float:right;
    margin-right: 20px;
}

.mPlanCheckModal .modal-body .underline {
    height: 1px;
    background-color: #e5e5e5;
    width :91%;
    margin:24px 15px;
}

.mPlanCheckModal .modal-body .input {
    height: 40px;
}

/* style for mPlanCheckModal END */