a {
    text-decoration : none !important;
}

a:hover {
    text-decoration: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

header {
    width:100%;
    height:37px;
    margin:16px auto 0 auto;
    overflow: hidden;
    position:fixed;
    /*left:0;*/
    /*top:0;*/
    z-index:1;
}
header .logo {
    display:inline-block;
    width:67px;
    height:15px;
    margin:6px 0 0 15px;
    background:url('../img/switcher-nav-gray@2x.png') no-repeat;
    background-size : 100% 100%;

}
header .securityBtn {
    width: 84px;
    height: 30px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    border: solid 1px #e7e7e7;
    font-family: AppleSDGothicNeo-Bold, sans-serif;
    font-size: 12px;
    color: #3d4953;
    display:block;
    float:right;
    padding : 7px 0 7px 0;
    margin: 0 15px 10px 0;
    cursor : Pointer;
     box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.06);
}
header .securityBtn .secImg {
    width:12px;
    height:16px;
    display:block;
    float:left;
    margin:-2px 3px 0 12px;
    background:url('../img/ic-lock-normal@2x.png') no-repeat;
    background-size:100% 100%;
}
header .securityBtn:hover {
    width:84px;
    height:30px;
    border-radius:100px;
    background-color:#f3b547;
    border: solid 1px #cb8f26;
    display:block;
    float:right;
    padding : 7px 0 7px 0;
    margin-right:30px;
    font-family: AppleSDGothicNeo-Bold, sans-serif;
    font-size: 12px;
    color: #ffffff;
}
header .securityBtn:hover .secImg {
    width:12px;
    height:16px;
    display:block;
    float:left;
    margin:-2px 3px 0 12px;
    background:url('../img/ic-lock-pressed@2x.png') no-repeat;
    background-size:100% 100%;
}

div.tooltip-inner {
    min-width: 335px;
    margin-right:180px;
}
.tooltip.bottom {
    margin-right:8px;
    left:10px;
}
.tooltip.bottom > .tooltip-inner {background-color: #dadada;color:#3d4953;text-align:left;}
.tooltip.bottom > .tooltip-arrow { border-bottom-color:#dadada; }
.securityText {
    width: 112px;
    height: 15px;
    font-family: AppleSDGothicNeo-Regular, sans-serif;
    font-size: 12px;
    color: #9e9e9e;
   
    display:block;
    float:right;
    margin-top:10px;
}

main {
    width:100% !important;
    height:100%;
    margin:0 !important;
    padding:0 !important;
}

main .freeIntro {
    width: 100%;
    min-height:100vh;
    margin:0 !important;
}

main .freeIntro .goToDevice {
    display:block;
    width:176px;
    height:46px;
    border-radius:100px;
    border:1px solid #fff;
    margin: 0 auto;
    font-family: AppleSDGothicNeo-Medium, sans-serif;
    font-size:14px;
    color:#fff;
    padding:14px 12px;
    background:transparent;
    text-align:center;
}

main .freeIntro img {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    -webkit-filter: blur(10px); /* Chrome, Safari, Opera */
    filter: blur(10px);
}
main .freeIntro .cover {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
       filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); /* IE 7 and olders */
       opacity: .5; 
}
main .freeIntro .cover strong {
    width:102px;
    display:block;
    height:auto;
    background:url('../img/ic-free-car@2x.png') no-repeat;
    background-size:100% 100%;
    margin:141px auto 0 auto;
}
main .freeIntro .cover p {
    display:block;
    width:100%;
    font-family: AppleSDGothicNeo-Light, sans-serif;
    font-size: 24px;

    line-height: 1.4;
    letter-spacing: -0.6px;
    color: #ffffff;
    text-align:center;
    margin-top:30px;
    margin-bottom:48px;
}

main .freeIntro .cover strong::after {
    content:'';
    display:block;
    padding-top:70%;
}


main .intro {
    width:100%;
    min-height:741px;
    margin:0 !important;
    background:#fdfdfd;
}

main .intro img {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    -webkit-filter: blur(10px); /* Chrome, Safari, Opera */
    filter: blur(10px);
}
main .intro .cover {
    position:absolute;
    width:100%;
    height:auto;
    top:0;
    left:0;
    background:rgba(0,0,0,0.4);
    padding:0;

}
main .intro .cover .topContents {
    margin:70px auto 0 auto;
    /*width:377px;*/
    height:166px;
    
}

main .intro .cover .topContents strong {
    display:block;
    width:120px;
    height:80px;
    background:url('../img/ic-free-car@2x.png') no-repeat;
    background-size:100% 100%;
    margin:0 auto 30px auto;
}
/*main .intro .cover .topContents strong::after {
    content:'';
    display:block;
    padding-top:70%;
}*/

main .intro .cover img {
    position:absolute;
}

main .intro .cover {

}
main .intro .cover::after {
    content : " ";
    display : block;
    padding-top:20.407%;
}

main .intro .device {
    position:absolute;
    bottom:0;
    z-index:1;
    background:#fff;
    left:0;
}
main .intro .device .title{
    font-family: AppleSDGothicNeo-Regular,sans-serif;
    font-size: 24px;
    letter-spacing: -0.5px;
    color: #3d4953;
    text-align:center;
    margin-top:4.226%;
}

main .intro .device .desc {
    font-family: AppleSDGothicNeo-Regular, sans-serif;
    font-size: 13px;
    color: #3d4953;
    text-align:center;
}

main .intro .oneWrapper,
main .intro .twoWrapper{
    overflow:hidden;
    margin:32px 0 73px 0;

}

main .intro ._selector {
    width:310px;
    border:solid 1px #e5e5e5;
    background-color:#fff;
    border-radius: 2px;
}

main .intro ._selector ul {
    list-style-type: none;
    margin:0;
    padding: 12.15px 0;
    overflow: hidden;
    cursor:Pointer;
}

main .intro ._selector ul li {
    float:left;
}
main .intro ._selector ul li:nth-child(1) {
    padding:4.334% 1.67% 4% 4.67%;
    width: 17.335%;
}
main .intro ._selector ul li:nth-child(2) {
    width:65%;
    padding:4% 0 0 0;
    font-family: AppleSDGothicNeo-Regular, sans-serif;
    font-size: 12px;
    margin-right:34px;
    color: #767bfe;

}
.btnSelectorWrp {
    margin:0 auto;
    width:635px;
    overflow:hidden;
}

main .intro ._selector ul li:nth-child(2) p {
    color:#949FA7;
    display: inline-block;
    vertical-align: middle;
}

main .intro ._selector ul li:nth-child(2) p span {
    font-family: AppleSDGothicNeo-Regular, sans-serif;
    font-size: 18px;
    letter-spacing: -0.3px;
    color: #3d4953;
}

main .intro ._selector ul li:nth-child(2) p strong {
    color : #767bfe;
}
main .intro ._selector ul li:nth-child(3) #group1 ,
main .payInfo .eulaCheck {
    display:none;
}
main .intro ._selector ul li:nth-child(3) label {
    /*float: right;*/
    margin-right: 20px;
}
main .intro ._selector ul li:nth-child(3) #group1 + label {
    height: 14px;
    width: 9px;
    display:inline-block;
    padding: 0 0 0 0;
    margin-top:22px;
    margin-right:0;
    background:url('../img/ic-arrow@2x.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
}

main .payInfo .eulaCheck + label {
    background-color:#f0f0f0;
    height: 24px;
    width: 24px;
    display:inline-block;
    padding: 0 0 0 0;
    border-radius: 20px;
    margin-top:48%;
}

main .payInfo .eulaCheck:checked + label {
    background-image:url('../img/check@2x.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
    height: 24px;
    width: 24px;
    display:inline-block;
    padding: 0;
    border-radius: 20px;
    margin-top:48%;
}

main .payInfo .eulaCheck + label,
main .payInfo .eulaCheck:checked + label {
    margin :0;
    float:left;
}

main .intro ._selector ul li:nth-child(3) #group2 + label {
    height: 14px;
    width: 9px;
    display:inline-block;
    padding: 0 0 0 0;
    margin-top:22px;
    margin-right: 0;
    background:url('../img/ic-arrow@2x.png');
    background-repeat:no-repeat;
    background-size:100% 100%;
}
/*main .intro ._selector ul li:nth-child(3) #group2:checked + label {
    background-image:url('../img/check@2x.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
    height: 24px;
    width: 24px;
    display:inline-block;
    padding: 0;
    border-radius: 20px;
    margin-top:44%;
}*/

main .intro ._selector ul li:nth-child(3) #group2 {
    display:none;
}


main .intro ._selector ul li:nth-child(1) strong {
    display:block;
    width:73%;
    height:auto;
    margin:0;
    background:url('../img/ic-one-switcher@2x.png') no-repeat;
    background-size:100% 100%;
}

main .intro .twoBtn ul li:nth-child(1) strong {
    background:url('../img/ic-two-switcher@2x.png') no-repeat;
    background-size:100% 100%;
}

main .intro ._selector ul li:nth-child(1) strong::after{
    content:'';
    display:block;
    padding-top:166.7%;
}


main .intro .titleWrapper {
    background-color: #ffffff;
    box-shadow: 0 0 2px 0 #dadada;
    margin: 0 0 39px 0;
    /*max-width:1024px;*/
    width:100%;
}
main .intro .titleWrapper._dWrapper {
    background-color: #ffffff;
    box-shadow: 0 0 2px 0 #dadada;
    margin: 0;
    /*max-width:1024px;*/
    width:100%;
}
main .intro .titleWrapper .title {
    width:1000px;
    padding-top:32px;
    margin : 61px auto 10px auto;
    text-align:center;
    font-family: AppleSDGothicNeo-Regular, sans-serif;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: -0.2px;
    color: #3d4953;
}
main .intro .titleWrapper ._device.title {
   width:268px;
    padding-top:32px;
    margin : 61px auto 10px auto;
    text-align:center;
    font-family: AppleSDGothicNeo-Regular, sans-serif;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: -0.2px;
    color: #3d4953;
}


main .intro .titleWrapper .mTitle {
    display:none;
}

main .intro .titleWrapper .desc {
    margin-top:11px;
    font-family: AppleSDGothicNeo-Regular, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #3d4953;
    text-align:center;
}

main .intro .titleWrapper .navigator {
    display:block;
    margin:0 auto 0 auto;
    width:50px;
    overflow:hidden;
    padding-bottom:22px;
}
main .intro .titleWrapper .navigator .first,
main .intro .titleWrapper .navigator .second,
main .intro .titleWrapper .navigator .third,
main .intro .titleWrapper .navigator .fourth
 {
    display:block;
    background-color:#767bfe;
    width:6px;
    float:left;
    margin-left:6px;
    border-radius:6px;
}
main .intro .titleWrapper .navigator .second,
main .intro .titleWrapper .navigator .third,
main .intro .titleWrapper .navigator .fourth {
    background:#eaeaea;
}

main .intro .titleWrapper ._userNav .second {
    background-color:#767bfe;
}

main .intro .titleWrapper ._userNav .first,
main .intro .titleWrapper ._userNav .third {
    background:#eaeaea;
}

main .intro .titleWrapper ._userNav .first,
main .intro .titleWrapper ._userNav .second {
    background:#eaeaea;
}

main .intro .titleWrapper .navigator .first::after,
main .intro .titleWrapper .navigator .second::after,
main .intro .titleWrapper .navigator .third::after,
main .intro .titleWrapper .navigator .fourth::after {
    content:'';
    display:block;
    padding-top:100%;
}

main .intro .planInfo .pricePlan {

    list-style-type: none;
    padding:0;
    overflow: hidden;
    /*margin-left:12.403%;*/
    /*float:right;*/
    max-width:1024px;
    margin:0 auto;
}
main .intro .planInfo .pricePlan .planBox {
    border-radius:4px;
}
main .intro .planInfo .pricePlan li {
    float:left;
    width: 17.838%;
    margin-left:2.9%;
    border:1px solid #e5e5e5;
    border-radius:4px;
}
main .intro .planInfo .pricePlan li:nth-child(1) {
   margin-left:200px;
}
main .intro .planInfo .pricePlan li:hover {
    cursor:Pointer;
    box-shadow:0 0 3px 0 rgba(0,0,0,0.3);
}
main .intro .planInfo .pricePlan li .planBox .top {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #72a1ff;
}
main .intro .planInfo .pricePlan li .planBox .twoyear {
    background-color:#767bfe;
}
main .intro .planInfo .pricePlan li .planBox .threeyear {
    background-color:#8576fe;
}

main .intro .planInfo .pricePlan li .planBox .top p {
    margin:0;
}
main .intro .planInfo .pricePlan li .planBox .top .title {
    width:100%;
    font-family: AppleSDGothicNeo-Bold, sans-serif;
    font-size: 13px;
    letter-spacing: -0.4px;
    color: #ffffff;
    padding:10.63% 0 12.5% 0;
    text-align: center;
}
main .intro .planInfo .pricePlan li .planBox .top .title .underline {
    display:block;
    width : 46px;
    height: 1px;
    background-color:#fff;
    opacity:0.4;
    margin : 1px auto 0 auto;
        
}

main .intro .planInfo .pricePlan li .planBox .top .price {
    width:100%;
    font-family: AppleSDGothicNeo-Light, sans-serif;
    font-size: 21px;
    letter-spacing: -0.4px;
    color: #ffffff;
    padding:0 0 10.5% 0;
    text-align:center;
    font-weight:bold;
}

main .intro .planInfo .pricePlan li .planBox .middle {
    border-bottom:1px solid #e5e5e5;
}

main .intro .planInfo .pricePlan li:nth-child(4) .planBox .middle span {
    width: 68.36%;
    font-family: AppleSDGothicNeo-Regular, sans-serif;
    font-size: 12px;
    color: #3d4953;
    display:block;
    margin:16.1% auto 16.1% auto;
    text-align:center;
}

main .intro .planInfo .pricePlan li .planBox .middle span {
    width: 68.36%;
    font-family: AppleSDGothicNeo-Regular, sans-serif;
    font-size: 12px;
    color: #3d4953;
    display:block;
    margin:11.40% auto 11.40% auto;
    text-align:center;
    line-height: 22px;
}

main .intro .planInfo .pricePlan li .planBox .bottom span {
    width: 88.61%;
    font-family: AppleSDGothicNeo-Bold, sans-serif;
    font-size: 12px;
    color: #3d4953;
    display:block;
    margin:9.5% auto;
    text-align:center;
    font-weight: bold;
}
main .intro .planInfo .pricePlan li .planBox .top .choiceWp {
    padding:0 0 16px 0;
}
main .intro .planInfo .pricePlan li .planBox .top .choice {
    display:block;
    margin:0 auto;
    width :126px;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: AppleSDGothicNeo-Bold, sans-serif;
    font-size: 12px;
    color: #ffffff;
    text-align:center;
    padding:7px 31px 7px 31px;
}
main .intro .planInfo .pricePlan li .planBox .top .choice:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#completeModal .modal-dialog .modal-body {
    padding:0;
}

#completeModal .modal-dialog .modal-content .cardimg {
    width:81px;
    height:55px;
    margin: 28px auto 24px auto;
    background:url('../img/ic-card@2x.png') no-repeat;
    background-size:100% 100%;
}
#completeModal .modal-dialog .modal-content .title {
    width : 134px;
    height : 56px;
    font-family: AppleSDGothicNeo, sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 1.27;
    letter-spacing: -0.6px;
    color: #3d4953;
    margin : 0 auto;
    text-align:center;
}
#completeModal .modal-dialog .modal-content .underline {
    margin : 19px auto 17px auto;
    width: 340px;
    height: 1px;
    background-color:#e5e5e5;
}
#completeModal .modal-dialog .modal-content .addedText {
    width: 275px;
    height: 36px;
    font-family: AppleSDGothicNeo;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    color: #949fa7;
    margin: 0 auto 34px auto;
    text-align:center;
}
#completeModal .modal-dialog .modal-content .addedText .highlite {
    color:#767bfe;
}
#completeModal .modal-dialog .modal-content .close {
    position:absolute;
    top:8px;
    right:8px;
    width: 30px;
    height: 30px;
    background:url('../img/btn-close-default@2x.png') no-repeat;
    background-size:100% 100%;
}

@media (min-width: 992px) {
    
    

    main .intro .mBackground {
        display:none;
    }

    main .freeIntro .mBackground {
        display:none;
    }

    .firstWp, .secondWp {
        display:none;
    }

    .mDesc {
        display:none;
    }

    main .intro .oneWrapper ._selector {
        /*float:right;*/
        margin:0 auto;
    }



    main .intro .cover .topContents p {
        font-family: AppleSDGothicNeo-Light, sans-serif;
        font-size: 24px;
        line-height: 1.4;
        letter-spacing: -0.6px;
        color: #ffffff;
        text-align:center;
    }

    main .info {
        margin-top:-24px;
        margin-left:20px;
    }
    main ._column {
        background-color:#fdfdfd;
    }
    main ._column._left {
        width : 29.3% !important;
    }
    main .completeInfo .infoTable {
        margin : 0 auto;
    }
    main .info .infoTable tr{
        height: 70px;
        margin : 0 auto;
    }
    main .info .infoTable tr .nf,
    main .payInfo .infoTable tr .nf,
    main .completeInfo .infoTable tr .nf
    {
        font-family: AppleSDGothicNeo-Bold, sans-serif;

        font-size: 15px;
        letter-spacing: -0.4px;
        color: #3d4953;
        padding :3px 9px 0 0;
    }
    main .completeInfo .infoTable tr .nf
    {
        font-size: 14px;
        letter-spacing: -0.3px;
        width:50px;
    }
    main .completeInfo .infoTable tr .contents {
        padding:15px 0 8px 11px;
        font-family: AppleSDGothicNeo-Regular,sans-serif;
        font-size: 14px;
        letter-spacing: -0.3px;
        color: #3d4953;
    }
    main .completeInfo .infoTable tr .contents span {
        color:#767bfe;
    }
    main .info .infoTable tr ._cmp {
        font-size: 15px;
        letter-spacing: -0.4px;
        width : 60px;
    }
    main .info .infoTable tr .control {
        width:268px;
        height:40px;
        color: #b5b5b5;
        font-size: 15px;
        border-radius: 2px;
        border: solid 1px #dedede;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-shadow: none;
        padding-left:10px;

    }
    main .info .infoTable .authBox .control {
        width:168px;
        height:40px;
        background:#f5f5f5;
        font-size: 15px;
    }

    main .info .infoTable #phoneNumber {
        width:168px;
        color:#3d4953;
    }
    main .info .infoTable #phoneNumber:hover {
        border:solid 1px #767bfe;
    }
    main .info .infoTable #addr1 {
        width:188px;
    }
    main .info .infoTable tr .alert {
        font-size: 12px;
        letter-spacing: -0.3px;
        color:#ff5e5e;
        padding:0;
        /*display:none;*/
    }

    ._info {
        width : 60%;
        height: 40px;
        margin : 0 0 10px 0;
        font-size:16px;
    }
    main .info .infoTable ._info:focus {
        border-color: #CE93D8;
    }
    main .info .infoTable ._infobtn {
        text-decoration: none;
        border: 1px solid #e5e5e5;
        border-radius: 10px;
        font-size:13px;
        margin-left:3px;
        color:#333;
    }
    main .info .infoTable ._infobtn:link {
        color:#333;
    }
    main .info .infoTable ._infobtn:visited {
        color:#333;
    }
    main .info .infoTable ._infobtn:hover {
        color:#333;
    }
    main .info .infoTable ._infobtn {
        padding : 13px 15px !important;
        font-size: 11px;
        display:inline-block;
        margin-left: 10px;
        font-family: AppleSDGothicNeo-Bold, sans-serif;
        letter-spacing: -0.3px;
    }
    main .info .infoTable ._address {
        width:63%;
    }
    main .info .infoTable ._detailAddress {
        width: 100%;
    }
    main .info .infoList ._infobtn {
        text-decoration: none;
        border: 1px solid #9575CD;
        border-radius: 5px;
        font-size:13px;
        padding:15px 5px;
        margin-left:3px;
        color:#333;
    }
    main .info .infoList ._infobtn:link {
        color:#333;
    }
    main .info .infoList ._infobtn:visited {
        color:#333;
    }
    main .info .infoList ._infobtn:hover {
        color:#333;
    }

    main .info .infoList ._infobtn {
        padding : 15px;
        display:inline-block;
    }

    main .info .infoTable ._address {
        display:inline-block;
    }
    main .info .infoTable ._addressHeader {
        padding-left:10px;
    }
    
    main .info .footer {
        margin-top:30px;    
    }
    
    main .info .footer .next ,
    main .payInfo .footer .next,
    main .completeInfo .next
    {
        display:block;
        margin:0 auto;
        width: 174px;
        height: 46px;
        border-radius: 100px;
        border: solid 1px #767bfe;
        text-align:center;
        font-family: AppleSDGothicNeo-Medium, sans-serif;
        font-size: 15px;
        color: #767bfe;
        padding-top:14px;
    }
    main .completeInfo .nextFooter {
        margin-top:38px;
    }
    main .completeInfo .next {

        font-family: AppleSDGothicNeo-Medium, sans-serif;
        font-size: 15px;
        color: #3d4953;
        border: solid 1px #bdc7cf;
    }

    main .card {
        width:317px;
        margin : 0 auto;
    }
    main .info .infoList {
        display:none;
    }
    main .info .footer .main {
        background: #fff;
        color: #3d4953;
        border-color: #bdc7cf;
    }

    div#select_box {
        position: relative;
        margin:15px 0;
        width: 268px;
        height: 40px;
        background: url('../img/select-arrow.png') 235px center no-repeat; /* 화살표 이미지 */

        border: solid 1px #e5e5e5;
    }
    div#select_box label {
        position: absolute;
        top: 13px;
        left: 12px;

        font-family: AppleSDGothicNeo-Regular, sans-serif;
        font-size: 14px;
        letter-spacing: -0.3px;
        color: #3d4953;
    }
    div#select_box select#color {
        width: 100%;
        height: 40px;
        min-height: 40px;
        line-height: 40px;
        padding: 0 10px;
        opacity: 0;
        filter: alpha(opacity=0); /* IE 8 */
    }

    .cardWrapper {
        padding:0;
    }

    .payInfo {
        width:380px;
        margin:0 auto;
    }

    ._cardNumber {
        width:60px;
        height:40px;
        margin: 15px 5px 15px 0;
        /*margin-right:5px;*/
        /*margin-bottom:30px;*/
    }

    .expMonth {
        position: relative;
        float:left;
        width: 60px;
        height: 40px;
        background: url('../img/select-arrow.png') 37px center no-repeat; /* 화살표 이미지 */

        border-radius: 2px;
        border: solid 1px #e5e5e5;
        /*margin-bottom:30px;*/
        margin : 15px 0;
    }

    .expMonth label {
        position: absolute;
        top: 10px;
        left: 12px;

        font-family: AppleSDGothicNeo-Regular, sans-serif;
        font-size: 15px;
        letter-spacing: -0.3px;
        color: #3d4953;
    }
    .expMonth select#month {
        width: 100%;
        height: 40px;
        min-height: 40px;
        line-height: 40px;
        padding: 0 10px;
        opacity: 0;
        filter: alpha(opacity=0); /* IE 8 */

    }


    .expYear {
        position: relative;
        float:left;
        width: 60px;
        height: 40px;
        background: url('../img/select-arrow.png') 37px center no-repeat; /* 화살표 이미지 */
        margin-left:9px;
        border-radius: 2px;
        border: solid 1px #e5e5e5;
        /*margin-bottom:30px;*/
        margin:15px 0 15px 9px;
    }
    .expYear label {
        position: absolute;
        top: 10px;
        left: 12px;

        font-family: AppleSDGothicNeo-Regular, sans-serif;
        font-size: 15px;
        letter-spacing: -0.3px;
        color: #3d4953;
    }
    .expYear select#year {
        width: 100%;
        height: 40px;
        min-height: 40px;
        line-height: 40px;
        padding: 0 10px;
        opacity: 0;
        filter: alpha(opacity=0); /* IE 8 */
    }

    .security_partner {
        position: relative;
        float:left;
        width: 66px;
        height: 40px;
        margin-left:10px;
        margin-top:15px;
    }

    .security_partner .icon {
        width:63px;
        height:29px;
        background:url('../img/ic-partner@2x.png') no-repeat;
        background-size:100% 100%;
        /*margin:0 auto;*/
    }
    .security_partner p {
        font-family: AppleSDGothicNeo-Bold, sans-serif;
        font-size: 8px;
        color: #3d4953;
    }

    .eula {
        font-family: AppleSDGothicNeo-Regular,sans-serif;
        font-size: 14px;
        color: #3d4953;
        margin-bottom:30px;
        padding:3px 0 0 33px;
    }

    .complete .footer {
        margin:0;
        background-color:#eaeaea;
    }
    .footer .ioLogo {
         width:31px;
        height:20px;
        background:url('../img/logo@2x.png') no-repeat;
        background-size:100% 100%;
        display:block;
        margin:49px auto 20px auto;
    }
    /*.footer .ioLogo::after {
        content:'';
        display:block;
        padding-top:64.52%;
    }*/
    .footer .companyInfo {
        /*margin:0 0 0 19px;*/
        font-family: AppleSDGothicNeo-Regular, sans-serif;
        font-size: 11px;
        line-height: 1.5;
        color: #aaaaaa;
        text-align:center;
        margin-bottom:1.233%;
    }
    .footer .mCompanyInfo {
        display:none;
    }
    .footer .companyInfo .mail {
        color:#000;
    }
    .footer .companyInfo .info {
        color:#000;
    }
    .footer .copyright {
        /*margin:30px 0 21px 19px;*/
        font-family: AppleSDGothicNeo-Regular, sans-serif;
        font-size: 11px;
        line-height: 2.0;
        color: #aaaaaa;
        text-align: center;
    }
    
    .footer .sns img {
        width:24px;
        /*margin:0 0 0 19px;*/
    }
    .footer .sns .facebook {
        /*width: 2.47%;*/
        /*margin-left:48%;*/
    }
    .footer .sns .chat {
        /*width: 2.47%;*/
    }
    .footer .sns {
        margin-top:1.707%;
        width:100px;
        margin:0 auto;
    }
    .footer .sns .facebook {
        width: 24px;
        cursor:Pointer;
        margin-bottom:50px;
        /*margin-left:47.5%;*/
    }
    .footer .sns .chat {
        width: 24px;
        margin-left:10px;
        cursor:Pointer;

        margin-bottom:50px;
    }
    .footer .sns .insta {
        width : 24px;
        margin-left:10px;
        cursor:Pointer;

        margin-bottom:50px;
    }
    .orderAlert {
        font-size: 12px;
        line-height: 1.3;
        letter-spacing: -0.3px;
        color: #88949c;
        text-align:center;
        margin-top:22px;
        
    }

    ._alert {
        width:100%;
        margin-top:30px;
        padding:0;
    }
    ._alert p {
        margin:0 auto;
        width: 461px;
        height: 613px;
        font-family: AppleSDGothicNeo-Regular, sans-serif;
        font-size: 11px;
        line-height: 1.5;
        color: #9e9e9e;
        text-align:center;
    }
}


@media (max-width: 991px) {
    
    header {
        width:100%;
        height:37px;
        margin:16px auto 0 auto;
        overflow: hidden;
        position:relative;
        /*left:0;*/
        /*top:0;*/
        z-index:1;
    }
    
    .security_partner {
        width:70px;
        height:40px;
        float:left;
        margin-left:9px;
    }
    .security_partner .icon {
        width:63px;
        height:29px;
        background:url('../img/ic-partner@2x.png') no-repeat;
        background-size:100% 100%;
        /*margin:0 auto;*/
    }
    
    .security_partner p {
        font-family: AppleSDGothicNeo-Bold, sans-serif;
        font-size: 8px;
        color: #3d4953;
    }
    
    main .intro .titleWrapper {
        background-color: #ffffff;
        box-shadow: 0 0 2px 0 #dadada;
        margin: 0 0 15px 0;
        /*max-width:1024px;*/
        width:100%;
    }

    main .intro {
        min-height:0;
        height:auto !important;
    }
    main .intro .wBackground {
        display:none;
    }
    main .freeIntro .wBackground {
        display:none;
    }

    .btnSelectorWrp {
        /*margin:0 auto;*/
        /*width:320px;*/
        overflow:hidden;
    }
    .securityText {
        margin-top:9px;
    }
    main .intro img {
        position:fixed;
        left:0;
        top:0;
        width:115%;
        height:364px;
        -webkit-filter: blur(10px); /* Chrome, Safari, Opera */
        filter: blur(10px);
    }

    main .intro .cover {
        position:absolute;
        width:100%;
        height:365px;
        top:0;
        left:0;
        background:rgba(0,0,0,0.4);
        padding:0;

    }
    main .intro .cover strong {
        /*position:absolute;*/
        width:120px;
        /*top:78px;*/
        /*left:32.02%;*/
        height:auto;
        background:url('../img/ic-free-car@2x.png') no-repeat;
        background-size:100% 100%;
        margin-bottom:22px;
    }
    main .intro .cover strong::after {
        content:'';
        display:block;
        padding-top:70%;
    }

    main .intro .cover img {
        position:absolute;
    }
    main .intro .cover p {
        display:inline-block;
        width:100%;
        font-family: AppleSDGothicNeo-Light, sans-serif;
        font-size: 18px;
        line-height: 1.4;
        letter-spacing: -0.6px;
        color: #ffffff;
        text-align:center;
        /*position:absolute;*/
        /*top:234px;*/
    }
    main .intro .cover::after {
        content : " ";
        display : block;
        padding-top:100%;
    }

    main .intro .device {
        position:absolute;
        bottom:0;
        z-index:1;
        background:#fdfdfd;
        left:0;
        padding:0;
        height:301px;
    }
    main .intro .device .title{
        font-family: AppleSDGothicNeo-Regular,sans-serif;
        font-size: 18px;
        letter-spacing: -0.5px;
        color: #3d4953;
        text-align:center;
        margin-top:22px;
    }

    main .intro .device .desc {
        font-family: AppleSDGothicNeo-Regular, sans-serif;
        font-size: 12px;
        color: #3d4953;
        text-align:center;
    }
    
    .mDesc {
        text-align:center;
        font-family: AppleSDGothicNeo-Regular;
        font-size: 12px;
        letter-spacing: -0.3px;
        color: #3d4953;
    }
    
    main .intro .oneWrapper,
    main .intro .twoWrapper{
        overflow:hidden;
        /*margin:4.226% 0 7.345% 0;*/
        margin:13px 0 8px 0;
        padding:0;
    }
    main .intro .oneWrapper ._selector,
    main .intro .twoWrapper ._selector {
        /*margin:0 auto;*/
        /*margin-bottom:8px;*/
        margin: 0 15px 8px 15px;
        width:56%;
    }
    main .intro ._selector {
        width:320px;
        border:solid 1px #e5e5e5;
        background-color:#fff;
        border-radius: 2px;
    }

    main .intro ._selector ul {
        list-style-type: none;
        margin:0;
        padding:0;
        overflow: hidden;
    }

    main .intro ._selector ul li {
        float:left;
    }
    main .intro ._selector ul li:nth-child(1) {
        /*padding:4.334% 1.67% 4% 4.67%;*/
        padding:15px 0;
        width: 25px;
    }
    main .intro ._selector ul li:nth-child(2) {
        width:65%;
        /*padding:3.335% 0 0 3.335%;*/
        padding:15px 12px;
        font-family: AppleSDGothicNeo-Regular, sans-serif;
        font-size: 13px;
        color: #767bfe;
    }
    main .intro ._selector ul li:nth-child(2) span {
        font-family: AppleSDGothicNeo-Regular, sans-serif;
        font-size: 18px;
        letter-spacing: -0.3px;
        color: #3d4953;
    }
    main .intro ._selector ul li:nth-child(3) {
        margin : 29px 0 0 30px;
    }
    main .intro ._selector ul li:nth-child(3) #group1 ,
    main .payInfo .eulaCheck {
        display:none;
    }
    main .intro ._selector ul li:nth-child(3) label {
        /*float: right;*/
        margin-right: 20px;
    }
    main .intro ._selector ul li:nth-child(3) #group1 + label {
        background-color:#f0f0f0;
        height: 12px;
        width: 9px;
        display:inline-block;
        padding: 0 0 0 0;
        border-radius: 20px;
        margin-top:44%;
    }
    main .intro ._selector ul li:nth-child(3) #group1:checked + label
    {
        background-image:url('../img/check@2x.png');
        background-repeat: no-repeat;
        background-size:100% 100%;
        height: 12px;
        width: 9px;
        display:inline-block;
        padding: 0;
        border-radius: 20px;
        margin-top:44%;
    }
    main .payInfo .eulaCheck:checked + label  {
        background-image:url('../img/check@2x.png');
        background-repeat: no-repeat;
        background-size:100% 100%;
        height: 24px;
        width: 24px;
        display:inline-block;
        padding: 0;
        border-radius: 20px;
        margin-top:44%;
    }

    main .payInfo .eulaCheck + label,
    main .payInfo .eulaCheck:checked + label {
        margin :0;
        float:left;
    }

    main .intro ._selector ul li:nth-child(3) #group2 + label {
        background-color:#f0f0f0;
        height: 12px;
        width: 9px;
        display:inline-block;
        padding: 0 0 0 0;
        border-radius: 20px;
        margin-top:44%;
    }
    main .intro ._selector ul li:nth-child(3) #group2:checked + label {
        background-image:url('../img/check@2x.png');
        background-repeat: no-repeat;
        background-size:100% 100%;
        height: 12px;
        width: 9px;
        display:inline-block;
        padding: 0;
        border-radius: 20px;
        margin-top:44%;
    }

    main .intro ._selector ul li:nth-child(3) #group2 {
        display:none;
    }

    main .intro ._selector ul li:nth-child(1) strong {
        display:block;
        width:25px;
        height:40px;
        margin:0;
        background:url('../img/ic-one-switcher@2x.png') no-repeat;
        background-size:100% 100%;
    }
    main .intro .twoBtn ul li:nth-child(1) strong {
        display:block;
        width:25px;
        height:40px;
        margin:0;
        background:url('../img/ic-two-switcher@2x.png') no-repeat;
        background-size:100% 100%;
    }
    main .planInfo {
        display:none;
    }

    main .intro .titleWrapper .navigator {
        width:18%;
    }

    main .intro .mPricePlan {

        list-style-type: none;
        padding:0;
        overflow: hidden;
        /*width:320px;*/
        margin:0;
        /*margin-left:12.403%;*/
        /*float:right;*/
    }

    main .intro .mPricePlan li {
        float:left;
        width: 43.6%;
        /*margin-left:2.9%;*/
        border:1px solid #e5e5e5;
        border-radius:5px;
    }
    main .intro .mPricePlan li:nth-child(1),
    main .intro .mPricePlan li:nth-child(3) {
        margin-left:15px;
    }
    main .intro .mPricePlan li:nth-child(2),
    main .intro .mPricePlan li:nth-child(4) {
        margin-left:10px;
        margin-right:15px;
    }
    main .intro .mPricePlan li .planBox .top {
        background-color: #72a1ff;
    }

    main .intro .mPricePlan li .planBox .year {
        background-color:#718dff;
    }
    main .intro .mPricePlan li .planBox .twoyear {
        background-color:#767bfe;
    }
    main .intro .mPricePlan li .planBox .threeyear {
        background-color:#8576fe;
    }

    main .intro .mPricePlan li .planBox .top p {
        margin:0;
    }
    main .intro .mPricePlan li .planBox .top .title {
        width:100%;
        font-family: AppleSDGothicNeo-Bold, sans-serif;
        font-size: 13px;
        letter-spacing: -0.4px;
        color: #ffffff;
        padding:10.63% 0 12.5% 0;
        text-align: center;
    }
    main .intro .mPricePlan li .planBox .top .price {
        width:100%;
        font-family: AppleSDGothicNeo-Light, sans-serif;
        font-size: 21px;
        letter-spacing: -0.4px;
        color: #ffffff;
        padding:0 0 10.5% 0;
        text-align:center;
    }
    
    main .intro .mPricePlan li .planBox .middle {

        border-bottom:1px solid #e5e5e5;
    }
    
    main .completeInfo .infoTable tr .contents span {
        color:#767bfe;
    }

    main .intro .secondWp .mPricePlan li:nth-child(2) .planBox .middle span {
    width: 68.36%;
    font-family: AppleSDGothicNeo-Regular, sans-serif;
    font-size: 12px;
    color: #3d4953;
    display:block;
    margin:16.1% auto 39.1% auto;
    text-align:center;
    }

    main .intro .mPricePlan li .planBox .middle span {
        width: 68.36%;
        font-family: AppleSDGothicNeo-Regular, sans-serif;
        font-size: 12px;
        color: #3d4953;
        display:block;
        margin:11.40% auto 11.40% auto;
        text-align:center;
        line-height: 12px;
    }

    main .intro .mPricePlan li .planBox .bottom span {
        width: 88.61%;
        font-family: AppleSDGothicNeo-Bold, sans-serif;
        font-size: 11px;
        color: #3d4953;
        display:block;
        margin:9.5% auto;
        text-align:center;
    }
    main .intro .mPricePlan li .planBox .top .choiceWp {
        padding:0 0 16px 0;
    }
    main .intro .mPricePlan li .planBox .top .choice {
        display:block;
        margin:0 auto;
        width :126px;
        background-color: rgba(0, 0, 0, 0.1);
        font-family: AppleSDGothicNeo-Bold, sans-serif;
        font-size: 12px;
        color: #ffffff;
        text-align:center;
        padding:7px 31px 7px 31px;
    }
    
    main .intro .mPricePlan li .planBox .top .title .underline {
        display:block;
        width : 46px;
        height: 1px;
        background-color:#fff;
        opacity:0.4;
        margin : 1px auto 0 auto;        
    }
    main .intro .titleWrapper .title {
      display:none;
    }
     main .intro .titleWrapper .mTitle {
        /*margin-top:58px;*/
        padding-top:22px;
        text-align:center;
        font-family: AppleSDGothicNeo-Regular, sans-serif;
        font-size: 18px;
        letter-spacing: -0.6px;
        color: #3d4953;
        display:block;
    }
    main .firstWp,
    main .secondWp {
        padding:0;
    }
    
    main .secondWp {
        margin-top:20px;
        margin-bottom:33px;
    }

    main .info {
        margin-top:-24px;
        /*margin-left:20px;*/
        padding:0;
    }
    main ._column {
        background-color:#fdfdfd;
        padding:0;
    }
    main .info .infoTable,
    main .completeInfo .infoTable
    {
        margin:0 15px;
        width:92%;
    }
    main .info .infoTable tr{
        height: 70px;
        margin : 0 auto;
    }
    main .info .infoTable tr .nf,
    main .payInfo .infoTable tr .nf,
    main .completeInfo .infoTable tr .nf
    {
        font-family: AppleSDGothicNeo-Bold, sans-serif;

        font-size: 14px;
        letter-spacing: -0.4px;
        color: #3d4953;
        padding-right:9px;
    }
    main .completeInfo .infoTable tr .nf
    {
        font-size: 14px;
        letter-spacing: -0.3px;
        width:72px;
        font-family: AppleSDGothicNeo-Regular, sans-serif;
        color: #88949c;

    }
    main .completeInfo .infoTable tr .contents {
        padding:15px 0 15px 0;
        font-family: AppleSDGothicNeo-Regular,sans-serif;
        font-size: 14px;
        letter-spacing: -0.3px;
        color: #3d4953;
    }
    main .info .infoTable tr ._cmp {
        font-size: 15px;
        letter-spacing: -0.4px;
        width : 60px;
    }
    main .info .infoTable tr .control {
        /*width:250px;*/
        width:100%;
        height:40px;
        color: #3d4953;
        font-size: 15px;
        border-radius: 2px;
        border: solid 1px #dedede;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-shadow: none;
        

    }
    main .info .infoTable .authBox .control {
        width:168px;
        height:40px;
        background:#f5f5f5;
        font-size: 15px;
    }

    main .info .infoTable #phoneNumber {
        width:63%;
    }
    main .info .infoTable #addr1 {
        width:168px;
    }
    main .info .infoTable tr .alert {
        font-size: 12px;
        letter-spacing: -0.3px;
        color:#ff5e5e;
        padding:0;
        display:none;
    }

    ._info {
        width : 60%;
        height: 40px;
        margin : 0 0 10px 0;
        font-size:16px;
    }
    main .info .infoTable ._info:focus {
        border-color: #CE93D8;
    }
    main .info .infoTable ._infobtn {
        font-family: "AppleSDGothicNeo-Bold", sans-serif;
        text-decoration: none;
        border: solid 1px #e5e5e5;
        font-size:13px;
        padding:13px 6px !important;
        color:#333;
        margin-left:10px;
    }
    main .info .infoTable ._infobtn:link {
        color:#333;
    }
    main .info .infoTable ._infobtn:visited {
        color:#333;
        margin:0 0 0 10px;
        background:#fff;
    }
    main .info .infoTable ._infobtn:hover {
        color:#333;
    }
    main .info .infoTable ._infobtn {
        padding : 15px 5px;
        font-size: 11px;
        display:inline-block;
    }
    main .info .infoTable ._address {
        width:63%;
    }
    main .info .infoTable ._detailAddress {
        width: 100%;
    }
    main .info .infoList ._infobtn {
        text-decoration: none;
        border: 1px solid #9575CD;
        border-radius: 5px;
        font-size:13px;
        padding:15px 5px;
        margin-left:3px;
        color:#333;
    }
    main .info .infoList ._infobtn:link {
        color:#333;
    }
    main .info .infoList ._infobtn:visited {
        color:#333;
    }
    main .info .infoList ._infobtn:hover {
        color:#333;
    }

    main .info .infoList ._infobtn {
        padding : 15px;
        display:inline-block;
    }

    main .info .infoTable ._address {
        display:inline-block;
    }
    main .info .infoTable ._addressHeader {
        padding-left:10px;
    }
    
    main .info .footer {
        margin:20px 0 10px 0;
    }
    
    main .info .footer .next ,
    main .payInfo .footer .next,
    main .completeInfo .next
    {
        display:block;
        margin:0 auto;
        width: 174px;
        height: 46px;
        border-radius: 100px;
        border: solid 1px #767bfe;
        text-align:center;
        font-family: AppleSDGothicNeo-Medium, sans-serif;
        font-size: 15px;
        color: #767bfe;
        padding-top:14px;
    }

    main .completeInfo .next {

        font-family: AppleSDGothicNeo-Medium, sans-serif;
        font-size: 15px;
        color: #3d4953;
        border: solid 1px #bdc7cf;
        width:150px;
        height:50px;
    }

    main .card {
        width:100%;
        margin:0 0 20px 6px;
    }
    main .info .infoList {
        display:none;
    }
    main .info .footer .main {
        background: #fff;
        color: #3d4953;
        border-color: #bdc7cf;
    }

    div#select_box {
        position: relative;
        margin:15px 0 30px 5px;
        width: 89%;
        height: 40px;
        background: url('../img/select-arrow.png') 213px center no-repeat; /* 화살표 이미지 */

        border: solid 1px #e5e5e5;
    }
    div#select_box label {
        position: absolute;
        top: 13px;
        left: 12px;

        font-family: AppleSDGothicNeo-Regular, sans-serif;
        font-size: 14px;
        letter-spacing: -0.3px;
        color: #3d4953;
    }
    div#select_box select#color {
        width: 100%;
        height: 40px;
        min-height: 40px;
        line-height: 40px;
        padding: 0 10px;
        opacity: 0;
        filter: alpha(opacity=0); /* IE 8 */
    }
    
    .nf._cardNo {
        padding-bottom:24px;
    }
    .nf._cardName {
        padding-bottom:10px;
    }
    ._cardNumber {
        width: 60px;
        height: 40px;
        border-radius: 2px;
        border: solid 1px #e5e5e5;
        box-shadow:none;
    }

    .expMonth {
        position: relative;
        float:left;
        width: 60px;
        height: 40px;
        background: url('../img/select-arrow.png') 37px center no-repeat; /* 화살표 이미지 */

        border-radius: 2px;
        border: solid 1px #e5e5e5;
        margin-left:6px;
    }

    .expMonth label {
        position: absolute;
        top: 10px;
        left: 12px;

        font-family: AppleSDGothicNeo-Regular, sans-serif;
        font-size: 15px;
        letter-spacing: -0.3px;
        color: #3d4953;
    }
    .expMonth select#month {
        width: 100%;
        height: 40px;
        min-height: 40px;
        line-height: 40px;
        padding: 0 10px;
        opacity: 0;
        filter: alpha(opacity=0); /* IE 8 */

    }
    
    ._userAddress {
        word-break:break-all;
    }

    .expYear {
        position: relative;
        float:left;
        width: 60px;
        height: 40px;
        background: url('../img/select-arrow.png') 37px center no-repeat; /* 화살표 이미지 */
        margin-left:9px;
        border-radius: 2px;
        border: solid 1px #e5e5e5;
    }
    .expYear label {
        position: absolute;
        top: 10px;
        left: 12px;

        font-family: AppleSDGothicNeo-Regular, sans-serif;
        font-size: 15px;
        letter-spacing: -0.3px;
        color: #3d4953;
    }
    .expYear select#year {
        width: 100%;
        height: 40px;
        min-height: 40px;
        line-height: 40px;
        padding: 0 10px;
        opacity: 0;
        filter: alpha(opacity=0); /* IE 8 */
    }
    .eula {
        font-family: AppleSDGothicNeo-Regular,sans-serif;
        font-size: 12px;
        color: #3d4953;
        margin-bottom:30px;
        padding:3px 0 0 33px;
    }
    
    main .intro .titleWrapper .desc {
        /*display:none;*/
        font-family: AppleSDGothicNeo-Regular, sans-serif;
        font-size: 12px;
        letter-spacing: -0.3px;
        color: #3d4953;
    }
   
   main .intro .titleWrapper .desc._card {
        display:none;
    }

    .cardWrapper {
        padding:0;
    }

    .payInfo table {
        /*width:320px;*/
        /*margin:0 auto;*/
        margin:0 15px;
        width:92%;
    }

    .eulaWrapper {
        padding-top:33px;
    }

    ._alert {
        width:100%;
        margin-top:30px;
        padding:0;
    }
    ._alert p {
        /*margin:0 auto;*/
        margin:0 15px;
        /*width: 320px;*/
        height: 112px;
        font-family: AppleSDGothicNeo-Regular, sans-serif;
        font-size: 11px;
        line-height: 1.5;
        color: #9e9e9e;
        text-align:center;
    }

    main .intro ._completeWp {
        background-color: #ffffff;
        box-shadow: 0 0 2px 0 #dadada;
        margin-bottom:12px;
    }

    main .completeInfo .infoTable tr {
        border-bottom:1px solid #f5f5f5;
    }

    .complete .footer {
        margin:0;
        background-color:#eaeaea;
    }
    .footer .ioLogo {
        width:31px;
        background:url('../img/logo@2x.png') no-repeat;
        background-size:100% 100%;
        display:block;
        margin:49px auto 20px auto;
    }
    .footer .ioLogo::after {
        content:'';
        display:block;
        padding-top:64.52%;
    }
    .footer .companyInfo {
        /*display:none;*/
        font-family: AppleSDGothicNeo-Regular, sans-serif;
        font-size: 11px;
        line-height: 1.5;
        color: #aaaaaa;
        text-align:center;
        margin-bottom:1.233%;
        /*width:330px;*/
        width:320px;
        margin:0 auto;
    }
    .footer .mCompanyInfo {
        margin:0 0 0 19px;
        color:#9c9ea5;
    }
    .footer .mCompanyInfo .mail {
        color:#000;
    }
    .footer .mCompanyInfo .info {
        color:#000;
    }
    .footer .copyright {
        font-family: AppleSDGothicNeo-Regular, sans-serif;
        font-size: 11px;
        line-height: 2.0;
        color: #aaaaaa;
        text-align: center;
    }
    .footer .sns {
        margin-top:1.707%;
        width:93px;
        margin:0 auto;
    }
     .footer .sns .facebook {
        width: 24px;
        /*margin-left:45%;*/
        margin-bottom:47px;
    }
    .footer .sns .chat {
        width: 24px;
        margin-bottom:47px;
        margin-left:10px;
    }
    .footer .sns .insta {
        width: 24px;
        margin-bottom:47px;
        margin-left:10px;
    }
    
 
    .orderAlert {
        font-size: 11px;
        line-height: 1.5;
        letter-spacing: -0.3px;
        color: #88949c;
        text-align:center;
        margin:22px 0 42px 0;
    }
    
    div.tooltip-inner {
        min-width: 340px;
        margin-right:157px;
    }
    
    .tooltip.fade.bottom.in {
        left:0px !important;
        margin:0 17px;
    }


    #mCompleteModal .modal-dialog .modal-body {
        padding:0;
    }

    #mCompleteModal .modal-dialog .modal-content .cardimg {
        width:81px;
        height:55px;
        margin: 28px auto 23px auto;
        background:url('../img/ic-card@2x.png') no-repeat;
        background-size:100% 100%;
    }
    #mCompleteModal .modal-dialog .modal-content .title {
        width: 110px;
        height: 44px;
        font-family: AppleSDGothicNeo;
        font-size: 18px;
        font-weight: normal;
        line-height: 1.22;
        letter-spacing: -0.6px;
        color: #3d4953;
        margin : 0 auto;
        text-align:center;
    }
    #mCompleteModal .modal-dialog .modal-content .underline {
        margin : 19px auto 17px auto;
        width: 268px;
        height: 1px;
        background-color:#e5e5e5;
    }
    #mCompleteModal .modal-dialog .modal-content .addedText {
        width: 275px;
        height: 36px;
        font-family: AppleSDGothicNeo;
        font-size: 12px;
        font-weight: normal;
        line-height: 1.5;
        color: #949fa7;
        margin: 0 auto 34px auto;
        text-align:center;
    }
    #mCompleteModal .modal-dialog .modal-content .addedText .highlite {
        color:#767bfe;
    }
    #mCompleteModal .modal-dialog .modal-content .close {
        position:absolute;
        top:8px;
        right:8px;
        width: 30px;
        height: 30px;
        background:url('../img/btn-close-default@2x.png') no-repeat;
        background-size:100% 100%;
    }
}


@media (max-width:320px) {

    main .intro .cover .topContents {
        margin:60px auto 0 auto;
        /*width:377px;*/
        height:166px;
        
    }
    
    main .intro .oneWrapper ._selector,
    main .intro .twoWrapper ._selector {
        /*margin:0 auto;*/
        /*margin-bottom:8px;*/
        margin: 0 15px 8px 15px;
        width:47.4%;
    }
    
    main .intro ._selector ul li:nth-child(3) {
        margin : 29px 0 0 10px;
    }
    
     main .intro ._selector ul li:nth-child(2) {
        width:69.5%;
        /*padding:3.335% 0 0 3.335%;*/
        padding:15px 12px;
        font-family: AppleSDGothicNeo-Regular, sans-serif;
        font-size: 13px;
        color: #767bfe;
    }
    
     main .intro .mPricePlan li:nth-child(1),
     main .intro .mPricePlan li:nth-child(3) {
        float:left;
        width: 43.7%;
        margin-left:15px;
        /*margin-left:2.9%;*/
        border:1px solid #e5e5e5;
        border-radius:5px;
    }
     main .intro .mPricePlan li:nth-child(2),
     main .intro .mPricePlan li:nth-child(4) {
        float:left;
        width: 43.7%;
        margin-left:10px;
        margin-right:15px;
        /*margin-left:2.9%;*/
        border:1px solid #e5e5e5;
        border-radius:5px;
     }
     
     main .intro .device {
        height:256px;
    }
    
    div#select_box {
        position: relative;
        margin:15px 0 30px 5px;
        width: 93%;
        height: 40px;
        background: url('../img/select-arrow.png') 179px center no-repeat; /* 화살표 이미지 */

        border: solid 1px #e5e5e5;
    }
    
    main .info .infoTable tr .nf,
    main .payInfo .infoTable tr .nf,
    main .completeInfo .infoTable tr .nf
    {
        width:71px;
    }
    
     main .info .infoTable #phoneNumber {
        width:61%;
    }
    
    ._cardNumber {
        width: 22%;
    }
    
    div.tooltip-inner {
        min-width: 285px;
        margin-right:101px;
    }
    
    .tooltip.fade.bottom.in {
        left:0px !important;
        margin:0 17px;
    }
    
    main .info .infoTable #addr1 {
        width:138px;
    }
}

