header {
    width:100%;
    height:60px;
    margin:23px 0 0 0;
    overflow: hidden;
    z-index:1;
}
header .logo {
    display:inline-block;
    width:67px;
    height:15px;
    margin-left:1.465%;
    background:url('../img/switcher-nav-gray@2x.png') no-repeat;
    background-size : 100% 100%;

}

.tabContents {
    background-color: #fdfdfd;
    padding-top:30px;
    width:auto;
    margin:0 auto;
}

.footer {
    margin:0;
    background-color:#eaeaea;
}
.footer .ioLogo {
    width:2.939%;
    background:url('../img/logo@2x.png') no-repeat;
    background-size:100% 100%;
    display:block;
    margin:49px auto 20px auto;
}
.footer .ioLogo::after {
    content:'';
    display:block;
    padding-top:64.52%;
}
.footer .companyInfo {
    font-family: AppleSDGothicNeo-Regular, sans-serif;
    font-size: 11px;
    line-height: 1.5;
    color: #aaaaaa;
    text-align:center;
    margin-bottom:1.233%;
}
.footer .copyright {
    font-family: AppleSDGothicNeo-Regular, sans-serif;
    font-size: 11px;
    line-height: 2.0;
    color: #aaaaaa;
    text-align: center;
}
.footer .sns {
    width: 100px;
    margin: 0 auto;
}
.footer .sns .facebook {
    width: 24px;
    cursor:Pointer;
    margin-bottom:50px;
    /*margin-left:47.5%;*/
}
.footer .sns .chat {
    width: 24px;
    margin-left:10px;
    cursor:Pointer;

    margin-bottom:50px;
}
.footer .sns .insta {
    width : 24px;
    margin-left:10px;
    cursor:Pointer;

    margin-bottom:50px;
}

.tabSection {
    display:block;
}
.tabContents {
    display:block;
}