main {
    width: 100% !important;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;

}

main .intro {
    width: 100%;
    min-height: 465px;
    margin: 0 !important;
    background: #fdfdfd;
}


body {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    float: left;
    margin:0;
    padding: 0;

}




p {
    margin:0px;



}
.head{

    margin-bottom:25px;



}

.normalHeader {
    display: block;
    /*width: 1024px;*/
    height: 60px;
    margin: 23px 0 0 -512px;
    overflow: hidden;
    /*position: absolute;*/
    left: 50%;
    z-index: 1;
}



.normalHeader .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    float: right;
}



.normalHeader .menu li {
    width: 61px;
    height: 11px;
    float:left;



    font-family: AppleSDGothicNeo;
    font-size: 9px;
    font-weight: bold;
    text-align: center;
    color: #767bfe;

}




.contentsTitle {
    width: 306px;
    height: 15px;
    font-family: AppleSDGothicNeo;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    color: #868fa3;


}



.mainTitle {
    width: 306px;
    height: 60px;
    font-family: AppleSDGothicNeo;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.43;
    text-align: left;
    color: #3d4953;
    margin:0 auto;
    margin-bottom:11px;





}


.contentsTitle {
    width: 306px;
    height: 15px;
    font-family: AppleSDGothicNeo;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    color: #868fa3;
    margin:0 auto;



}

.title{


    margin-bottom:49px;

}



.btnWrapper{

    background-color: #f8f8ff;
    margin-top:230px;
    padding: 10px;





}

.btnWrapper .btnSelection{
    /*width: 360px;*px/
    /*height: 68px;*/
    /*margin:0px;*/
    padding:0;



}

.btnWrapper .btnSelection .oneBtnImage{
    width: 48px;
    height: 46px;
    object-fit: contain;
    background: url('../img/test/1.png');
    margin:0px;




}

.btnWrapper .btnSelection .twoBtnImage{
    width: 48px;
    height: 46px;
    object-fit: contain;
    background: url('../img/test/2.png');
    margin:0px;




}
.btnWrapper .btnSelection .threeBtnImage{
    width: 48px;
    height: 46px;
    object-fit: contain;
    background: url('../img/test/3.png');
    margin:0px;




}
.btnWrapper .btnSelection .btnText{

    width: 75px;
    height: 19px;
    font-family: AppleSDGothicNeo;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: #4a4a4a;




}

.btnWrapper .btnSelection ul{

    margin-left:16px;
    margin-top:11px;
    padding: 0;
    width:100%;

    float:left;

}

.btnWrapper .btnSelection ul li{

    display: inline;


}

.btnWrapper .btnSelection ul li .checkImg{

    float:right;

}

.btnWrapper .btnSelection ul li:nth-child(2) {

    margin-left:7px;
    margin-top:12px;



}


.btnWrapper .btnSelection ul li:nth-child(3) {

    float :right;

    margin-right:30px
}



.btnWrapper .btnSelection ul li:nth-child(3) #btn1, #btn2,#btn3 {
    display: none;



}


.btnWrapper .btnSelection ul li:nth-child(3) #btn1 + label {
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0;
    margin-top:5px;
    background:url('../img/test/deactive.png');
    background-repeat: no-repeat;
    background-size:100% 100%;

}

.btnWrapper .btnSelection ul li:nth-child(3) #btn2 + label {
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0;
    margin-top:5px;
    background:url('../img/test/deactive.png');
    background-repeat: no-repeat;
    background-size:100% 100%;

}

.btnWrapper .btnSelection ul li:nth-child(3) #btn3 + label {
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0;
    margin-top:5px;
    background:url('../img/test/deactive.png');
    background-repeat: no-repeat;
    background-size:100% 100%;



}


.btnWrapper .btnSelection ul li:nth-child(3) #btn1:checked + label
{
    display:inline-block;

    background-image:url('../img/check@2x.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
    height: 30px;
    width: 30px;
    display:inline-block;
    margin-top:5px;
    padding: 0;

}

.btnWrapper .btnSelection ul li:nth-child(3) #btn2:checked + label
{
    display:inline-block;

    background-image:url('../img/check@2x.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
    height: 30px;
    width: 30px;
    display:inline-block;
    margin-top:5px;
    padding: 0;

}


.btnWrapper .btnSelection ul li:nth-child(3) #btn3:checked + label
{
    display:inline-block;

    background-image:url('../img/check@2x.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
    height: 30px;
    width: 30px;
    display:inline-block;
    margin-top:5px;
    padding: 0;

}








.choiceBox{

    background-color: rgba(118, 123, 254, 0.85);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    padding: 12px;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    width: 100%;

}
.choiceBox .chooseText{
    width: 120px;
    height: 19px;
    font-family: AppleSDGothicNeo;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;

    margin-left: 121px;
    margin-top: 12px;



}

.snackbarText {

    width: 200px;
    height: 15px;
    font-family: AppleSDGothicNeo;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    margin-top:15px;
    margin-bottom: 16px;
    margin-left:80px;
    color: #767bfe;

}



/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar_1, #snackbar_2, #snackbar_3 {
    visibility: hidden; /* Hidden by default. Visible on click */
    width: 324px; /* Set a default minimum width */
    height: 46px;

    border-radius: 2px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.14);
    position: fixed; /* Sit on top of the screen */
    border: solid 1px #767bfe;
    left:50%;
    margin-left:-162px;

    background-color: #f8f8ff; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */


    padding: 0px; /* Padding */

    z-index: 1; /* Add a z-index if needed */
    bottom: 50px; /* 30px from the bottom */


}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar_1.show, #snackbar_2.show, #snackbar_3.show {
    visibility: visible; /* Show the snackbar */

    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */

}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 50px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 50px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 50px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 50px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}



#threeBtnModal .modal-content .modal-body input{
    width: 280px;
    height: 42px;
    font-family: AppleSDGothicNeo;
    font-size: 16px;
    border-radius: 1px;
    border: solid 1px #868fa3;

}


#threeBtnModal .modal-content .modal-body .sendBtn{
    width: 64px;
    height: 42px;
    background-color: #8a97a2;
    position:relative;
    top:-42px;
    left:216px;



}

#threeBtnModal .modal-content .modal-body .activeBtn{
    width: 64px;
    height: 42px;
    background-color: #3d4953;
    position:relative;
    top:-42px;
    left:216px;



}

#threeBtnModal .modal-content .modal-body .sendBtn span{
    width: 23px;
    height: 16px;
    font-family: AppleSDGothicNeo;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    position : absolute;

    margin-top:13px;
    margin-bottom:13px;
    margin-left:22px;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 12px;
    font-family: AppleSDGothicNeo;
    text-align: left;

    color: rgba(134, 143, 163, 0.5);
}


::-moz-placeholder { /* Firefox 19+ */
    color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
    color: pink;
}
:-moz-placeholder { /* Firefox 18- */
    color: pink;
}


.threeBtnModal .threeBtnModalDialog{

    width: 318px;
    height: 326px;

    position:fixed;
    left: 50%;
    top: 50%;
    margin-left: -159px;
    margin-top: -163px;
    border-radius: 3px;



    padding: 0;


}

.threeBtnModal .threeBtnModalContent {

    height: auto;
    min-height: 100%;
    border-radius: 3px;



}

.threeBtnModal .threeBtnModalContent .modalHeaderImg{


    width: 125px;
    height: 93px;
    margin-left: 96px;
    margin-top:21px;
    background-image:url('../img/test/dev-btn-3.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
    padding:0;
    border:0;


}

.threeBtnModal .threeBtnModalContent .modal-body .modalTitle{


    width: 258px;
    height: 21px;
    font-family: AppleSDGothicNeo;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.3px;
    text-align: center;
    color: #767bfe;
}


.threeBtnModal .threeBtnModalContent .modal-body .modalTitleDescription{

    width: 181px;
    height: 54px;
    font-family: AppleSDGothicNeo;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: -0.2px;
    text-align: center;
    color: #8a97a2;

}





